* {
    font-family: sans-serif;
}

td  {
    text-align: center;
}

.error {
    border-color: red;
    transition: ease-in-out;
}

input[type="text"], select[type="text"]{
    font-size: 1rem;
}

input[type="submit"] {
    padding-top: .5em;
    padding-bottom: .5em;
}

input[value="Edit"]{
    width: 4.15rem;
}

input[name="submitCar"],
input[name="submitCustomer"],
input[name="ok"],
input[name="Cancel"]{
    width: 100%;
}

input[name="OK"] {
    width: 8rem;
}

select[name="returnedCar"],
select[name="registration"],
select[name="SSN"]{
    padding: .5rem;
}