* {
    font-family: sans-serif;
}

.rowTitle {
    font-size: 1.1rem;
    text-align: end;
}

input[type=text] {
    font-size: 1.1rem;
    padding: 1%;
}

.button {
    /*background-color: cornsilk;*/
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 1%;
    margin: 1% 0;
}

.submit {
    background-color: forestgreen;
}

.cancel {
    background-color: red;
}