{% block addCustomer %}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../../css/style.css" />
        <title>Car rental Add Customer</title>
    </head>
    <body>

<h1>Add Customer</h1>

<form method="post" action="/customerAdded">
    <table>
    <tr><td>SSN: </td><td><input type="text" name="socialSecurityNumber" required></td></tr>
    <tr><td>Name: </td><td><input type="text" name="customerName" required></td></tr>
    <tr><td>Address: </td><td><input type="text" name="address" required></td></tr>
    <tr><td>Postal Address: </td><td><input type="text" name="postalAddress" required></td></tr>
    <tr><td>Phone Number: </td><td><input type="text" name="phoneNumber" required></td></tr>

    </table>
    <input type="submit" name="OK" value="Add Customer">

</form>

    <form method="post" action="/customers">
        <input type="submit" name="Cancel" value="Cancel">
    </form>
    </body>
<script src="../../script.js"></script>
</html>
{% endblock %}