{% block carRented %}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/style.css" />
        <link rel="icon" href="{{ baseUrl }}/favicon.ico">
        <title>Car Rented</title>
    </head>
    <body>

    <h1>Car Rented</h1>

       <p>
           <strong>{{ SSN }}</strong> rented Car with registration: <strong>{{ registration }}.</strong>
       </p>

    <form method="post" action="/cars">
        <input type="submit" name="cars" value="cars">
    </form>

        <form method="post" action="/">
            <input type="submit" name="OK" value="OK">
        </form>
    </body>
</html>
{% endblock %}