{% block customerEdited %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../../css/style.css" />
        <title>Car rental Customer Edited </title>
    </head>
<body>
    <h1>Customer Edited</h1>

    <p>{{customerNameOld}} to {{customerNameNew}}.</p>

    <form method="post" action="/customers">
        <input type="submit" value="Ok">
    </form>

</body>
</html>
{% endblock %}