<h1>List All</h1>
<p>
<ol>
  {% for person in personArray %}
    <li>
      <ul>
        <li>{{person.name}}</li>
        <li>{{person.address}}</li>
        <li>{{person.phone}}</li>
      </ul>
    </li>
  {% endfor %}
</ol>
<p>
<form method="post" action="/">
  <input type="submit" value="Main Menu">
</form>  