{% block mainMenu %}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../../css/style.css" />
        <title>Car rental Main Menu</title>
    </head>
    <body>

    <table border>
        <tr>
            <td colspan="5"><h1>Car Rental</h1></td>
        </tr>

        <tr>
            <td colspan="1">
                <form action="/customers" method="post">
                    <input type="submit" style="width:100%" value="Customers">
                </form>
            </td>

          <td colspan="1">
            <form action="/cars" method="post">
              <input type="submit" style="width:100%" value="Cars">
            </form>
          </td>

          <td colspan="1">
            <form action="/rentCar" method="post">
              <input type="submit" style="width:100%" value="Rent Car">
            </form>
          </td>

          <td colspan="1">
            <form action="/returnCar" method="post">
              <input type="submit" style="width:100%" value="Return Car">
            </form>
          </td>

          <td colspan="1">
            <form action="/history" method="post">
              <input type="submit" style="width:100%" value="History">
            </form>
          </td>
        </tr>
    </table>

    </body>
    </html>
{% endblock %}