<h1>Main Menu</h1>
<p>
<form method="post" action="/listAll">
  <input type="submit" value="List All">
</form>
<p>
<form method="post" action="/inputIndex">
  <input type="submit" value="List Index">
</form>

